{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Jobs{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for job in jobs %}
    <article class="post">
      <header>
        <div>
          <h1>{{ job['name'] }}</h1>
          <div class="about">Submitted: {{ job['submitted'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">{{ job['command'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
